<!-- Partial for showing All Events in Events#Index -->

<h1 class="text-center mt-4 mb-4">All Events</h1>

<div class="container-fluid table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Event Id</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.id %></td>
          <td><%= event.title %></td>
          <td><%= event.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>